body {
  overflow-x: hidden;
  font-family: Montserrat;
}

.title {
  font-weight: 700;
  color: #707070;
}

.highlight {
  color: #4285f4;
}

.club_title {
  color: #555555;
}

.description {
  color: #707070;
  margin-top: 16px;
  font-size: 14px;
}

a {
  transition: 0.3s all ease;
  color: #555555;
}

a:hover {
  text-decoration: none;
}

.prime_btn {
  font-size: 14px;
  font-weight: 600;
  color: #f1f1f1;
  background: #4285f4;
  padding: 8px 16px;
  border: 0;
  transition: 0.3s all ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.prime_btn:hover,
.sec_btn:hover,
.custom_btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.23);
}

.sec_btn {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border: 0;
  margin-left: 16px;
  transition: 0.3s all ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.about_section {
  background: #f1f1f1;
}

.card {
  border: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.about_kiet {
  background: #4c4a78;
}

.custom_btn {
  color: #fff;
  border-color: #fff;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
  padding: 8px 16px;
}

.btn-more {
  color: #707070;
  font-size: 14px !important;
  padding: 8px;
  width: 84px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -8px;
}

.card .btn-more:hover {
  background: aliceblue;
}

.event_date {
  top: 56px;
  right: 16px;
  font-size: 10px;
  border-radius: 2px;
  background: #4c4a78;
  color: #fff;
  text-align: center;
  position: absolute;
  box-shadow: 0px 2px 4px #707070;
  font-weight: 700;
  padding: 2px 12px;
}

.featured {
  background: #f9f9f9;
}

li {
  list-style: none;
  font-size: 12px;
  color: #444444;
}

.custom_nav li a,
.custom_nav li {
  font-size: 14px !important;
  transition: 0.3s all ease;
  color: #444444;
}

.custom_nav li:hover {
  border-radius: 4px;
  background: #f1f1f1;
}

.nav-item .active {
  border-radius: 4px;
  background: #f1f1f1;
}

.navbar-toggler {
  border: 0;
}

@media (max-width: 424px) {
  .main__title {
    font-size: 24px;
  }
}

.team-member {
  border-radius: 50%;
  width: 30%;
  margin: 8px auto;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 2px 4px rgba(0, 0, 0, 0.23); */
}

.member h6 {
  margin-bottom: 0;
}

.member p {
  font-size: 13px;
}
