
.main-div {
  margin-top: 5%;
  margin-bottom: 5%;
  /* width: 80vw; */
  padding: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

h1 {
  text-align: center;
  font-family: "Bitter", serif;
  text-transform: capitalize;
  font-size: 50px;
  letter-spacing: 5;
  word-spacing: 5px;
  margin-bottom: 50px;
  color: #2c3148;
}

.main-heading {
  display: flex;
  margin-top: 30px;
  padding: 20px 0 20px 20px;
  background: #858992;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-heading:first-child {
  margin-top: 0;
}

.main-heading h3 {
  margin-left: 30px;
  font-family: "Mate SC", serif;
  color: #f5f5f8;
  font-family: "Raleway", sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.main-heading p {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background: #fff;
  padding: 5px;
}

.answers {
  padding: 30px 20px 40px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  background: #fcf5f5;
  color: rgb(40, 37, 53);
}
